streamlit==1.37.1
Pillow==9.5.0
requests==2.32.3
flask==2.2.5
numpy==1.26.3
torch==2.4.0
torchvision==0.19.0
transformers==4.42.4
paddlepaddle
paddlespeech
ffmpeg
ffprobe
modelscope
typeguard==2.13.3
pydub
